#satauri{
    text-align: center;
    
    }
    #about_wiki{
    font-size: x-large;
    text-align: center;
    }
    #wikipedia{
    font-size: x-large;
    }
    #footer{
    text-align: center;
    font-size:large;}