body{ 
background-image: url(goa_clean_background.png);
} 
#phyton {
color:lightgreen
}
    
 #html {
color:lightgreen
}
    
#მისალმება {
color:lightgreen;
text-align: center;
 }
 
#საკონტაქტო {
color:lightgreen;
text-align: center
}
    
.list { 
font-size:xx-large;
}
    
#css { 
color:lightgreen
}
#js {
color:lightgreen
}
    
#cplius{
color:lightgreen
}
    
.link {
color:lightgreen;
text-align: center;
font-size: xx-large;
}
    
#h2 {
color:lightgreen;
text-align: center;
}
    
img{
text-align: center;
font-size: large;
}